<table role="presentation" border="0" cellpadding="10" cellspacing="0" width="100%" id="templatePreHeading" bgcolor="#ffffff">
  <tr>
    <td align="center" valign="top">
      <table role="presentation" class="m-width100 preHeadingContent" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td align="left" valign="top">
            <a target="_blank" href="*|ARCHIVE|*" target="_blank">View in browser</a>
          </td>
          <!-- *|IFNOT:ARCHIVE_PAGE|* -->
          <td align="right" valign="top" width="150" style="text-align:right;">
            <!--<a href="">Archive</a>-->
          </td>
          <!-- *|END:IF|* -->
        </tr>
      </table>
      <!-- /preHeadingContent -->
    </td>
  </tr>
</table>
