<!--****************************************************************************
================================================================================

START Gray bar, white masthead

================================================================================
*****************************************************************************-->
<table role="presentation" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center;" bgcolor="#ffffff">
  <tr>
    <td align="center" valign="top" style="padding-top: 0; padding-right: 15px; padding-bottom: 0; padding-left: 15px;">
      <table role="presentation" class="m-width100" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align:center;">
        <tr>
          <td align="left" valign="top" style="font-family: 'proximanova', Helvetica, Arial, sans-serif; font-size: 13px; color: #999999; padding-top: 15px; padding-right: 0; padding-bottom: 15px; padding-left: 0;">

              <img src="{{ page.logo-url }}" width="{{ page.logo-width }}" alt="{{ page.logo-alt-text }}" style="width: {{ page.logo-width }}px; font-family: 'proximanova', Arial, sans-serif; font-size: 16px; background-color: #ffffff; color: #333333;" class="m-logo" />

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END Gray bar, white masthead ========================================== -->
