
<!-- START partners =================================================================================================-->

<table role="presentation" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center;" bgcolor="#565656">
  <tr>
    <td align="center" valign="top" style="padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px;">
      <table role="presentation" class="m-width100" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align: center;">

        {%- include {{ site.h3 }} mcedit="partners-header" content="Our Partners" color="#FFFFFF"-%}

        <tr>
        <td align="center" style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
          <table role="presentation" class="m-width100" width="600" height="38" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align: center; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
          <tr>
          <td style="font-size: 0; line-height: 0;">
            <a href="https://affordablelearning.osu.edu/about" target="_blank" alt="Our Partners">
              <img src="https://mcusercontent.com/22b8ab0c79e71d05f85e22573/images/fc027b37-1665-4b0f-8737-cd24b6a27e24.png" alt="Our partners: USG, University Libraries, Office of Distance Education and eLearning, Office of Academic Affairs, The Drake Insitute for Teaching and Learning" class="m-hero" border="0" style="font-family: 'proximanova', Helvetica, sans-serif; background-color: #565656; font-size: 16px; line-height: 20px; color:#fff;" />
              </a>
          </td>
          </tr>
          </table>
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<!-- End Partners ================================================================================================== -->
